@import '../../styles.scss';
$primaryColor:#E7816B;
$secondaryColor:#FFAD9B;


@mixin card-background {
    background-repeat:  no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
  }


////////////////////////////STYLES///////////////////////////////////////////////////////////
.home{
header{
    border-radius: 5px;
    background-image:url('../../assets/homepage/header/header-background.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    // overflow-y:hidden;
.header-text{
    height:50%;
}
.header-image-cover{
    object-fit: cover;
    height: 50%;
}


    #home-button{
        background-color: white;
    }
    #home-button:hover{
        background-color:$lightPrimary;
        color:white
    }
    #home-button:active{
        background-color:$lightPrimary;
        color:white
    }
}
.third-section{
    img{
        background-image: url('../../assets/homepage/thirdSection/small-circle.svg');
        background-repeat: no-repeat;
    }
}

.page-cards{

    display: grid; 
    a:focus, a:hover, a:visited, a:link, a:active {
        text-decoration: none;
        color:white;
    }
    .web-card{
        background-image: url('../../assets/homepage/mobile/image-web-design.jpg');
        @include card-background;
        border-radius: 10px;
    }
    
    .app-card{
        background-image: url('../../assets/homepage/mobile/image-app-design.jpg');
        @include card-background;
        border-radius: 10px;
    }
    .graphic-card{
        background-image: url('../../assets/homepage/mobile/image-graphic-design.jpg');
        @include card-background;
        border-radius: 10px;
    }

}


//////////////////////////////////////////// ///MEDIA QUERIES/////////////////////////////////////////////////////////

@media (min-width:425px)and(max-width: 557.98px){ 
   header{
       height:100vh;
   }
 }


 @media (min-width:558px)and(max-width: 767.98px){ 
    header{
        .header-image-cover{
            margin:auto;
            width:80%;
        }
    }
  }
 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px){ 
    .page-cards{
        .web-card{
            background-image: url('../../assets/homepage/tablet/image-web-design.jpg');
            @include card-background;
            
        }
        .app-card{
            background-image: url('../../assets/homepage/tablet/image-app-design.jpg');
            @include card-background;
    
        }
        .graphic-card{
            background-image: url('../../assets/homepage/tablet/image-graphic-design.jpg');
            @include card-background;
    
        }
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    header{
        height:80vh;
    }
    .page-cards{

        .web-card{
            background-image: url('../../assets/homepage//desktop/web-design-lg.jpg');
            @include card-background;
        }
        .app-card{
            background-image: url('../../assets/homepage/desktop/app-design.jpg');
            @include card-background;
        }
        .graphic-card{
            background-image: url('../../assets/homepage/desktop/graphic-design.jpg');
            @include card-background;
        }
    }
 }
}