$primaryColor:#E7816B;
$secondaryColor:#FFAD9B;


@mixin card-background {
    background-repeat:  no-repeat;
    background-size:100% 100%;
    background-position: 50% 50%;
  }


////////////////////////////STYLES///////////////////////////////////////////////////////////
header{
    border-radius: 5px;
    background-image:url('../../assets/homepage/header/header-background.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
}
.third-section{
    img{
        background-image: url('../../assets/homepage/thirdSection/small-circle.svg');
        background-repeat: no-repeat;
    }
}

.page-cards{

    display: grid; 
    a:focus, a:hover, a:visited, a:link, a:active {
        text-decoration: none;
        color:white;
    }
    .web-card{
        background-image: url('../../assets/homepage/mobile/image-web-design.jpg');
        @include card-background;
        border-radius: 10px;
    }
    
    .app-card{
        background-image: url('../../assets/homepage/mobile/image-app-design.jpg');
        @include card-background;
        border-radius: 10px;
    }
    .graphic-card{
        background-image: url('../../assets/homepage/mobile/image-graphic-design.jpg');
        @include card-background;
        border-radius: 10px;
    }

}



//////////////////////////////////////////// ///MEDIA QUERIES/////////////////////////////////////////////////////////
// Medium devices (tablets, 768px and up)
@media (min-width: 768px){ 
    .page-cards{
        .web-card{
            background-image: url('../../assets/homepage/tablet/image-web-design.jpg');
            @include card-background;
            
        }
        .app-card{
            background-image: url('../../assets/homepage/tablet/image-app-design.jpg');
            @include card-background;
    
        }
        .graphic-card{
            background-image: url('../../assets/homepage/tablet/image-graphic-design.jpg');
            @include card-background;
    
        }
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .page-cards{

        .web-card{
            background-image: url('../../assets/homepage//desktop/web-design-lg.jpg');
            @include card-background;
        }
        .app-card{
            background-image: url('../../assets/homepage/desktop/app-design.jpg');
            @include card-background;
        }
        .graphic-card{
            background-image: url('../../assets/homepage/desktop/graphic-design.jpg');
            @include card-background;
        }
    }

    .home-grid{
        .web-grid-card{
             // height:500px;
             grid-area: 1 / 1 / 2 / 2;
        }
        .app-grid-card{
            grid-area: 1 / 2 / 2 / 3;
        }
        .graphic-grid-card{
            grid-area: 2 / 2 / 3 / 3;
        }
    }
 }