// default styles for breakpoints smaller than 805px
.countries{
    .third-section{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        .country-card{
            width:60%;
            margin: auto;
        }
        }
        
}

@media screen and (min-width: 576px) and (max-width: 804.98px) {
    // position background image to be in the center at this breakpoint
    .page-cards{
        .web-card{
           background-position: center;
        }
        .app-card{
            background-position: center;
        }
        .graphic-card{
            background-position: center;
        }

        .third-section{
            .country-card{
                width:40%;
                margin: auto;
            }
        }
    }
}
@media (min-width: 805px) {
    // make flex direction to be row at this breakpoint
   .countries{
    .third-section{
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
    }
   }
 }