@import '/src/styles.scss';

.contact-card{
    border-radius: 10px;
    background-image:url('../../assets/contact-card.svg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    margin-bottom: -120px;
    z-index: 10;
    position: relative;

    a{
        align-self: center;
    }
    #card-button{
        background-color: white;
    }
    #card-button:hover{
        background-color:$lightPrimary;
        color:white
    }
    #card-button:active{
        background-color:$lightPrimary;
        color:white
    }


// MEDIA QUERIES
//   small devices
@media (max-width: 767.98px) {
    .contact-card{
        background-size: cover;
    }
 }
}