// this file is used to store variables to be used through out the project
// @import './assets/Jost-Medium.ttf';
// @import './assets/Jost-Regular.ttf' ;
// colors
$color1:#1D1C1E;
$color2:#FFFFFF;
$darkGrey:#333136;
$lightGrey:#F1F3F5;

